.container {
  max-width: 1100px;
  margin: 0 auto;
}

.section {
  padding: 40px 0;
  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.product-spacer {
  margin-bottom: 20px;
}
