.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #483d2d;
  .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  .filter {
    z-index: 100;
    position: absolute;
    background: rgba(black, 0.4);
    width: 100%;
    height: 100%;
  }
  .filter--title {
    display: flex;
    height: 100vh;
    .emperor {
      margin: auto;
      text-shadow: 0px 1px black;
    }
  }
  video {
    position: absolute;
    z-index: 0;
    top: 0;
    .fillWidth {
      width: 100%;
    }
  }
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
